@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.font-500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.font-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.grecaptcha-badge {
  visibility: hidden;
}

.border-blue-500 {
  border-color: rgb(59, 130, 246);
}

.border-red-500 {
  border-color: rgb(239, 68, 68);
}

.border-green-500 {
  border-color: rgb(16, 185, 129);
}

.mobile-menu-hidden {
  display: none;
}

/* #mobile-menu {
  transition: all ease-in-out 2s;
} */

@media only screen and (max-width: 1391px) {
  .workshop-card-margin {
    margin-right: 0;
  }
}

@media only screen and (max-width: 640px) {
  .workshop-card {
    width: 520px;
  }
}

@media only screen and (max-width: 530px) {
  .workshop-card-button {
    width: 115px;
  }
  .workshop-card {
    width: 440px;
  }
}

@media only screen and (max-width: 500px) {
  .workshop-card-font {
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 460px) {
  .workshop-card {
    width: 380px;
  }
  .workshop-card-title {
    font-size: 20px;
  }
  .workshop-card-subtitle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .workshop-card {
    width: 370px;
  }
  .workshop-card-title {
    font-size: 20px;
  }
  .workshop-card-subtitle {
    font-size: 16px;
  }
  .workshop-card-button {
    width: 75px;
    font-size: 14px !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
}
@media only screen and (max-width: 375px) {
  .workshop-card {
    width: 310px;
  }
  .workshop-card-title {
    font-size: 20px;
  }
  .workshop-card-subtitle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 300px) {
  .workshop-card-button {
    width: 75px;
    font-size: 20px !important;
  }
}
