@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-yellow-grad {
  background: linear-gradient(135deg, #ffc963 0%, #ffac53 100%);
}
.bg-red-grad {
  background: linear-gradient(134.32deg, #ff7562 0%, #ff3b3b 100%);
}
.bg-blue-grad {
  background: linear-gradient(134.32deg, #62d0ff 0%, #3ba1ff 100%);
}
.bg-green-grad {
  background: linear-gradient(98.79deg, #37d178 0%, #2ab564 99.55%);
}

.text-yellow-grad {
  background: linear-gradient(135deg, #ffc963 0%, #ffac53 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-discord {
  background-color: #5865f2;
}

.text-custom {
  color: #333333;
}

/* .font-landing-lg {
  font-size: 4.4rem;
  line-height: 4.5rem;
}

.font-landing-xs {
  font-size: 2rem;
  line-height: 2rem;
} */
